fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-dotenv
motor
upstash-redis
redis
python-socketio
brotli-asgi
python-jose[cryptography]
httpx
jinja2
python-multipart
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
pandas
